html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: pink;
}

.lobby {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 8px 16px;
  background: none;
  color: white;
  border: 0;
  outline: 0;
  font-size: 1.3rem;
  margin: 15px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 35px;
}

button:hover {
  color: black;
  background: white;
}

input {
  padding: 5px 10px;
  font-size: 1.6rem;
  border-radius: 35px;
  border: 3px solid rgb(255, 255, 255);
}

#game {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.game-info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  background-color: rgb(41, 41, 41);
  min-width: 20%;
  max-width: 350px;
  color: white;
}

.game-info-panel p {
  font-size: 2rem;
  margin: 10px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

#room-name-display {
  margin: 35px;
}

.lanes {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100vh;
  width: 100%;
}

.lane {
  background: rgb(92, 204, 148);
  border: 5px solid rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
}

.lane.lane-inactive {
  background: rgb(214, 0, 64);
}

.effect {
  animation: pulse 0.5s alternate-reverse infinite;
}

@keyframes pulse {
  from {
    opacity: 0.7;
    transform: scale(1);
  }

  to {
    opacity: 1;
    transform: scale(1.05);
  }
}

.code {
  text-align: center;
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
}

.players {
  background-color: rgba(56, 56, 56, 0.678);
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  height: 150px;
  /* border-top: 3px solid rgb(255, 255, 255); */
  max-width: 100%;
  flex-wrap: wrap;
}

.player {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin: 3px;
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
  background: rgb(13, 159, 196);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  border: 3px solid rgb(255, 255, 255);
}

.effect-img {
  height: auto;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.join-room-div {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.join-room-div p {
  margin: 15px;
}

#username-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

#username-tab p {
  margin: 15px;
}

.lobby h1 {
  font-size: 3rem;
  margin-bottom: 0px;
}

#keyboard-input-panel {
  display: none;
}

.game-started #keyboard-input-panel {
  /* position: fixed;
  top: 25px;
  left: 0;
  width: 100%;
  right: 0; */
  margin-top: 25px;
  display: flex;
  justify-content: center;
  z-index: 1;
  font-size: 1.6rem;
}

#typed-code {
  color: rgb(20, 85, 52);
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 15px;
  background: rgb(255, 255, 255);
  border: 4px solid rgb(127, 231, 42);
}